In [138]:
import pandas as pd

# provide the pandas code for finding the 
# list top 10 wrongly spelled words with dec order per user, per word_type, per word len

# word_list_df, review_words_df has column word. 
# if the word are in correct_words_filename df then they are complete, 
# if the word are in incorrect_words_filename df then they are not complete, 
# correct_words_filename, incorrect_words_filename are different for user.
# word_list_df has column word_type

In [139]:
# Stats for total words completed, remaining per user, per word_type, per word len
words_df=pd.read_csv("word_list.csv")
remove_unwanted_words_df = pd.read_csv("remove_unwanted_words.csv")
review_words_df = pd.read_csv("review_words.csv")

users = ['Bhavi', 'Madhu']

# Initialize DataFrame to store results
results_word_type_df = pd.DataFrame(columns=['user', 'word_type', 'completed_words', 'remaining_words', 'total_words'])
results_word_len_df = pd.DataFrame(columns=['user', 'word_length', 'completed_words', 'remaining_words', 'total_words'])

for user in users:
    df = words_df[(words_df['user']==user) | (words_df['user']=='User')].reset_index(drop=True)
    df['word_len'] = df['word'].apply(len)
    word_type_list = list(df['word_type'].unique())

    unique_lengths = set(df['word'].apply(len))
    unique_lengths_list = list(unique_lengths)

    correct_words_filename = f"user_{user}_correct_words.csv"
    incorrect_words_filename = f"user_{user}_incorrect_words.csv"

    cols = ['user', 'word', 'datetime', 'word_type']
    correct_words_df = pd.read_csv(correct_words_filename, names=cols)
    incorrect_words_df = pd.read_csv(incorrect_words_filename, names=cols)

    total_completed_words_df = df[df['word'].isin(correct_words_df['word'])]
    total_remaining_words_df = df[~df['word'].isin(correct_words_df['word'])]

    total_completed_words = total_completed_words_df.shape[0]
    total_remaining_words = total_remaining_words_df.shape[0]

    for word_type in word_type_list:
        completed_words_word_type = total_completed_words_df[total_completed_words_df['word_type']==word_type].shape[0]
        remaining_words_word_type = total_remaining_words_df[total_remaining_words_df['word_type']==word_type].shape[0]
        result_row_word_type = {'user': user,
                      'word_type': word_type,
                      'completed_words': completed_words_word_type,
                      'remaining_words': remaining_words_word_type,
                      'total_words': completed_words_word_type + remaining_words_word_type,}
        results_word_type_df = pd.concat([results_word_type_df, pd.DataFrame([result_row_word_type])])

    for word_len in unique_lengths_list:
        completed_words_word_len = total_completed_words_df[total_completed_words_df['word_len']==word_len].shape[0]
        remaining_words_word_len = total_remaining_words_df[total_remaining_words_df['word_len']==word_len].shape[0]
        result_row_word_len = {'user': user,
                      'word_length': word_len,
                      'completed_words': completed_words_word_len,
                      'remaining_words': remaining_words_word_len,
                      'total_words': completed_words_word_len + remaining_words_word_len,}
        results_word_len_df = pd.concat([results_word_len_df, pd.DataFrame([result_row_word_len])])

# Save results to CSV
results_word_type_df.to_csv('word_stats_word_type.csv', index=False)
results_word_len_df.to_csv('word_stats_word_len.csv', index=False)
results_word_type_df

    user       word_type completed_words remaining_words total_words
0  Bhavi     Sight Words             102               0         102
0  Bhavi   Rhyming Words               2               0           2
0  Bhavi    1k_most_used             784             112         896
0  Bhavi  6_science_sem1            1151            1067        2218
0  Madhu     Sight Words              58              44         102
0  Madhu   Rhyming Words               2               0           2
0  Madhu    1k_most_used             114             782         896
0  Madhu   3_science_LS1             131             687         818
0  Madhu   3_science_LS2              82             307         389

In [140]:
results_word_len_df

    user word_length completed_words remaining_words total_words
0  Bhavi           2              50               0          50
0  Bhavi           3             291               0         291
0  Bhavi           4             705               0         705
0  Bhavi           5             571              34         605
0  Bhavi           6             268             201         469
0  Bhavi           7              73             353         426
0  Bhavi           8              38             230         268
0  Bhavi           9              22             140         162
0  Bhavi          10              11             113         124
0  Bhavi          11               8              63          71
0  Bhavi          12               1              26          27
0  Bhavi          13               0              11          11
0  Bhavi          14               1               7           8
0  Bhavi          15               0               1           1
0  Madhu           2              80               0          80
0  Madhu           3             254               0         254
0  Madhu           4              49             557         606
0  Madhu           5               1             448         449
0  Madhu           6               2             299         301
0  Madhu           7               1             221         222
0  Madhu           8               0             138         138
0  Madhu           9               0              73          73
0  Madhu          10               0              43          43
0  Madhu          11               0              23          23
0  Madhu          12               0               9           9
0  Madhu          13               0               7           7
0  Madhu          15               0               2           2

In [141]:
# List top 10 wrongly spelled words
# Initialize DataFrame to store top 10 wrongly spelled words
top_wrong_words_df = pd.DataFrame(columns=['user', 'word_type', 'word_length', 'word', 'incorrect_attempt_count', 'correct_attempt_count'])
# user_wrong_words_df = pd.DataFrame(columns=['user', 'word_type', 'word_length', 'word', 'incorrect_attempt_count', 'correct_attempt_count'])

for user in users:
    df = words_df[(words_df['user']==user) | (words_df['user']=='User')].reset_index(drop=True)
    
    df = df[~df['word'].isin(remove_unwanted_words_df['unwanted_words'])]
    df = df[~df['word'].isin(review_words_df['review_word'])]
    df['word_len'] = df['word'].apply(len)

    word_type_list = list(df['word_type'].unique())
    unique_lengths = set(df['word'].apply(len))
    unique_lengths_list = list(unique_lengths)

    correct_words_filename = f"user_{user}_correct_words.csv"
    incorrect_words_filename = f"user_{user}_incorrect_words.csv"

    cols = ['user', 'word', 'datetime']
    correct_words_df = pd.read_csv(correct_words_filename, names=cols)
    incorrect_words_df = pd.read_csv(incorrect_words_filename, names=cols)
    
    # Merge incorrect_words_df with df to add word_type
    incorrect_words_df_wrd_type_df = pd.merge(incorrect_words_df, df[['word', 'word_type', 'word_len']], on=['word'], how='left')
    correct_words_df_wrd_type_df = pd.merge(correct_words_df, df[['word', 'word_type', 'word_len']], on=['word'], how='left')

    print(user)


    
    # Get top 10 wrongly spelled words per user, per word_type, per word length
    for word_type in word_type_list:
        for word_len in unique_lengths_list:
            # Filter words by word_type and word length
            incorrect_words_filtered = incorrect_words_df_wrd_type_df[(incorrect_words_df_wrd_type_df['word_type'] == word_type) & 
                                                     (incorrect_words_df_wrd_type_df['word_len'] == word_len)]
            correct_words_filtered = correct_words_df_wrd_type_df[(correct_words_df_wrd_type_df['word_type'] == word_type) & 
                                                      (correct_words_df_wrd_type_df['word_len'] == word_len)]
            # Get count of each word
            incorrect_words_word_counts = incorrect_words_filtered['word'].value_counts(ascending=False)
            correct_words_word_counts = correct_words_filtered['word'].value_counts(ascending=False)
            
            # Get top 10 wrongly spelled words
            top_wrong_words = incorrect_words_word_counts.head(10) # set how many words to get for each type

            # Create DataFrame for top 10 wrongly spelled words
            top_wrong_words_data = []
            for word, count in top_wrong_words.items():
                correct_attempt_count = correct_words_word_counts.get(word, 0)
                top_wrong_words_data.append({'user': user,
                                              'word_type': word_type,
                                              'word_length': word_len,
                                              'word': word,
                                              'incorrect_attempt_count': count,
                                              'correct_attempt_count': correct_attempt_count})
   
            # Append results for the current word_type and word_len to user_wrong_words_df
            word_type_len_df = pd.DataFrame(columns=['user', 'word_type', 'word_length', 'word', 'incorrect_attempt_count', 'correct_attempt_count'])
            word_type_len_df = pd.concat([word_type_len_df, pd.DataFrame(top_wrong_words_data)])
            word_type_len_df = word_type_len_df.sort_values(by='incorrect_attempt_count', ascending=False)
   

            top_wrong_words_df = pd.concat([top_wrong_words_df, word_type_len_df])

    # Append results for the current user to top_wrong_words_df
    # top_wrong_words_df = pd.concat([top_wrong_words_df, user_wrong_words_df])
    # print(top_wrong_words_df.head(1))
    # Sort top wrong words by incorrect attempt count in descending order
    # top_wrong_words_df = top_wrong_words_df.sort_values(by='incorrect_attempt_count', ascending=False)

# Save top 10 wrongly spelled words to CSV
top_wrong_words_df.to_csv('word_stats_top_wrong_words.csv', index=False)

top_wrong_words_df

Bhavi
Madhu

Empty DataFrame
Columns: [user, word_type, word_length, word, incorrect_attempt_count, correct_attempt_count]
Index: []

In [142]:
incorrect_words_filtered

Empty DataFrame
Columns: [user, word, datetime, word_type, word_len]
Index: []